/*
Theme Name:     Magnates
Theme URI:      http: //finance-magnates.dev/
Description:    Test new child theme for Twenty Twelve
Author:         Andrew Boyko
Author Email:   anderles111@gmail.com
Template:       twentytwelve
Version:        0.1.0
*/
@import url("../twentytwelve/style.css");

.widget-area {
    border: 2px solid blue;
}

.widget-area .widget {
    margin: 10px;
}

.widget-area .widget h3 {
    font-size: 18px;
    color: blue;
    margin-bottom: 0px;
}

.widget-area .widget .widget-title {
    text-align: left;
    text-transform: none;
}

.post_list li a {
    font-size: 16px;
    color: black;
}

.nav-previous, .nav-next {
    margin-top: -125px;
    padding: 20px;
}

.nav-previous,
.previous-image {
    float: left;
    width: 150px;
}

.nav-next,
.next-image {
    float: right;
    text-align: inherit;
    width: 150px;
}

.nav-previous a {
    font-size: 20px;
    font-weight: 700;
    position: relative;
    top: -50px;
    left: 25px;
}

.nav-next a {
    font-size: 20px;
    font-weight: 700;
    position: relative;
    top: -55px;
    left: -28px;
}

.nav-previous img {
    position: relative;
    top: 90px;
    left: -33px;
    z-index: 0;
}

.nav-next img {
    position: relative;
    top: 90px;
    left: -84px;
    z-index: 0;
}

@media screen and (min-width: 600px) {
    .site-header {
        border: 2px solid #000;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

    .site-header h1, .site-header h2 {
        text-align: center;
    }

    .widget-area {
        border: 2px solid blue;
    }
}

@media screen and (min-width: 960px) {
    body {
        background-color: #fff;
    }

    body .site {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}